@media screen and (max-width: 992px){


/*----Header-----*/

	.header__text-h1 {
		font-size: 85px;
	} 


/*----Section1-----*/


	.section1-figure-group {
		margin-bottom: 15px;
	}

	/*----Section9-----*/
	.section9__portfolio-item {
		font-size: 10px;
	}



	/*----Section10-----*/

	.carousel-control-next, .carousel-control-prev {
		width: 0;
	}

	.section10__item-wrapper .carousel-control-prev {
		left: 0px;
	
	
	}
	.section10__item-wrapper .carousel-control-next {
		right: 0px;
	}

	.section10__item-wrapper .fa-angle-left,
	.section10__item-wrapper .fa-angle-right {
		font-size: 50px;
	}
	/*----Section12-----*/
	.our-stories {
		margin-bottom: 20px;
	}
	/*----Section14-----*/	
	.b-social__span {
		display: block;
	}
}



@media screen and (max-width: 690px) {
/*----Header-----*/	
	.header__logo {
		
	    font-size: 15px;
	    margin-top: 10px;
}


	.menu-items {
		margin-top: 5px;
		float: none;
	}	

	.nav-group, .basket, .magnifier {
		float: none;
}

	.menu-items-decor {
		display: block;
		font-size: 12px;
		text-align: center;
		font-weight: 800;
		padding: 10px 0 0 0;
		margin: 0 30%;
	}
	
	.menu-items-decor::after {
		display: none;
	}

	.main-menu-group {
		width: 100%;
		margin-right: 0;
		text-align: center;
	}

	.header__text--cursive {
		font-size: 30px;
		margin: 0;
	}

	.header__text--bold {
		margin-top: 10px;
		margin-bottom: 20px;
		font-size: 35px;
	}

	.header__text-learn-more {
		margin-bottom: 20px;
	}

	.inner-text__number {
		display: none;
	}
	.inner-text__descr {
		font-size: 12px;
	}

	.section1-figure-group {
		position: relative;
		left: 50%;
		transform: translate(-50%);
	}

	.mar-bot-20-sm {
		margin-bottom: 20px;
	}

	.xs-mb-100-none {
		margin-bottom: 0;
	}


	/*----Section2-----*/	
	.counter-number__wrapper {
		width: 100%;
		border-bottom: 1px solid #fff;

	}
	

	/*----Section4-----*/	
	.unique-design__tablet {
		display: none;
		
	}

	.unique-design__phone {
		position: relative;
		left: 50%;
		transform: translateX(-50%);
		width: 150px;
		height: 350px;
		background-size: contain;
		background-repeat: no-repeat;
		

	}

	/*----Section6-----*/	
	.carousel-item-wrapper__icon {
		font-size: 30px;

	}

	.section6__item-wrapper	 .carousel-control-prev {
		left: 50px;
		top: -100px;
	}
	.section6__item-wrapper	 .carousel-control-next {
		right: 50px;
		top: -100px;
	}

	/*----Section9-----*/
	.basis-item__icon,
	.basis-item__obligation	 {
		font-size: 10px;
	}
	.basis-item__descr {
		display: none;
	}

	/*----Section10-----*/	
	.roboto {
		display: block;   
	}

	/*----Section12-----*/	
	.our-stories {
		margin-bottom: 20px;
	}

	
	
}